@inherits ScissorHands.Theme.MainLayoutBase

<CascadingMainLayoutBase Documents="@Documents" Document="@Document" Plugins="@Plugins" Theme="@Theme" Site="@Site">

<!DOCTYPE html>
<html lang="@PageLocale">
<head>
    <base href="@Site!.BaseUrl" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}/favicon.ico")" />
    <meta name="generator" content="@Site!.Generator" />

    <title>@PageTitle</title>
    <meta name="title" content="@PageTitle" />
    <meta name="description" content="@PageDescription" />
    @if (Theme!.Stylesheets is not null)
    {
        foreach (var css in Theme!.Stylesheets)
        {
            <link rel="stylesheet" href="@($"/themes/{Theme!.Slug.TrimEnd('/')}{css}")" />
        }
    }
</head>
<body>
    <header>
        <!-- Header content goes here. -->
    </header>
    <main>
        @Body
    </main>
    <footer>
        <!-- Footer content goes here. -->
    </footer>
    @if (Theme!.Scripts is not null)
    {
        foreach (var script in Theme!.Scripts)
        {
            <script src="@($"/themes/{Theme!.Slug.TrimEnd('/')}{script}")"></script>
        }
    }
</body>
</html>

</CascadingMainLayoutBase>
